{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<form method="post">

					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if not app.user %}
						{# Utilisateur non connecté #}
						<h1 class="h3 mb-3 font-weight-normal text-center">S'identifier</h1>
						<div class="form-group">
							<label for="inputEmail">Email</label>
							<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
						</div>
                        						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<div class="m-md-3" >

</div>
		
						<div class="form-group">
							<label for="inputPassword">Most de passe</label>
							<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
						</div>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<div class="m-md-3" >

</div>
						<button class="btn btn-lg btn-primary btn-block" type="submit">
							Se connecter
						</button>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<div class="m-md-3" >

</div>
		
						<div class="form-group">
							<p>
								<a href="/reset-password" class="link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover">Mot de passe oublié ?</a>
							</p>
						</div>


					{% else %}
						{# Utilisateur connecté #}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

				</form>
			</div>
		</div>
	</div>
{% endblock %}
